[run]
source = .
omit = 
    */tests/*
    */test_*.py
    */__pycache__/*
    */venv/*
    */legacy/*
    */streaming/*
    */Docs/*
    setup.py
    */site-packages/*
    */distutils/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

ignore_errors = True

[html]
directory = htmlcov

[xml]
output = coverage.xml